.card
{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    height: min-content;
}

.relative
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & .image img
    {
        width: 100%;
        border-radius: 16px;
        max-height: 400px;
        object-fit: cover;
    }

    & .user
    {
        position: relative;
        border-radius: 50%;
        margin: -2rem auto -.8rem auto;
        width: min-content;
        scale: .75;
        display: flex;
        align-items: center;
        box-shadow: 0 0 2px 5px var(--random-color), 0 0 8px black;
        
        & img
        {
            border-radius: inherit;
            height: 100%;
            object-fit: cover;
        }
    }

    & span 
    {
        font-size: .85rem;
        & img
        {
            width: .8rem;
        }
    }

    & p
    {
        text-align: center;
        margin: .5rem 0;
    }

    & p:last-child
    {
        margin-top: 0;
    }
}

.absolute
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity .3s;
    display: grid;
    grid-template-rows: min-content auto 45%;


    & :is(.card-stats, a)
    {
        opacity: 0;
    }
    
    & .card-stats
    {
        display: flex;
        justify-content: space-between;
        font-size: .6rem;
        padding: .25rem;

        & > *
        {
            cursor: pointer;
        }

        & div 
        {
            width: 2rem;
            aspect-ratio: 1;
            background-color: #E7E7E7;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & img 
            {
                width: 1rem;
            }

        }
    }

    & a
    {
        position: relative;
        display: block;
        padding: 4px 10px;
        width: max-content;
        text-decoration: none;
        color: white;
        background-color: red;
        border-radius: 16px;
        text-align: center;
        margin: auto;
    }
}

.card:hover .absolute :is(.card-stats, a)
{
    transition: opacity .2s;
    opacity: 1;
}
